*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.search{
    height: 80px;
    width: 100%;
    position: absolute;
    top: 85px;
    background-color: white;
    display: none;
}

.on{
    display: block;
}

.off{
    display: none;
}

.navbox1{
    height: auto;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 80px;
    z-index: 10;
    display: none;
}

.nb1 li{
    font-size: 14px;
    line-height: 35px;
    opacity: 0.7;
    list-style: none;
}

.nb1 li:hover{
    opacity: 1;
}

.nb2{
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.nb2 img{
    transition-duration: 3s;
}

.nb2 img:hover{
    transform: scale(1.1);
}

.navbox2{
    height: auto;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 80px;
    z-index: 10;
    display: none;
}

.background{
    background-color: #243644;
    transition-duration: 0.5s;
}

.block{
    height: 100vh;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 2;
    display: none;  
}

/* .on{
    display: block;
}

.off{
    display: none;
} */

#icon1{
    font-size: 25px;
    color: white;
    display: none;
    margin-left: 3%;
}

.main1{
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Image/isak_fragrances.png);
    background-size: cover;
    background-position: center;
}


header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    /* border: 1px solid red; */
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 img{
    height: 50px;
    margin-left: 15%;
}

header:hover{
    background-color: #243644;
}

.nav2{
    color: white;
}

.nav2 a{
    font-size: 12px;
    margin-inline: 15px;
    text-decoration: none;
    color: white;
}

.nav2 a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.nav3{
    color: white;
}

.nav3 i{
    font-size: 20px;
    margin-inline: 5px;
}

.btn1{
    height: 50px;
    width: 130px;
    background-color: white;
    color: black;
    border: 0px;
    transition-duration: 0.5s;
    font-size: 14px;
}

.btn1:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn10{
    height: auto;
    width: auto;
    background: linear-gradient(rgba(200, 202, 210, 0.3),rgba(200,202,210,0.3));
    color: white;
    font-size: 12px;
    border: 0px;
    border-radius: 5px;
}

.btn11{
    height: 70px;
    width: 70px;
    background-color: #22284d;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.reward{
    height: auto;
    width: 30vw;
    position: fixed;
    top: 35vh;
    left: 35vw;
    border-radius: 10px;
    background-color: white;
    /* border: 1px solid black; */
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.box1{
    height: 100px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #938f8f;
}

.box1:hover{
    background-color: #e6e1e1;
}

.box2{
    width: 20%;
    /* border: 1px solid black; */
}

.box3{
    width: 60%;
    /* border: 1px solid black; */
}

.box4{
    width: 20%;
    /* border: 1px solid black; */
}

.on{
    display: block;
}

.btn12{
    background-color: #22284d;
    color: white;
    border-radius: 10px;
}

.btn13{
    background-color: #22284d;
    color: white;
    border-radius: 10px;
}











































ul, ol {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    transition: all .25s ease;
  }
  .accordian {
    width: 500px;
    /* box-shadow: 0 1px 5px rgba(0,0,0,.10); */
    margin: 5% auto;
  }
  
  .accordian .title {
    background-color: transparent;
    /* border: 1px solid #b9b6b6; */
    padding: 1rem;
    margin: 0;
    font-weight: 300;
    transition: all .25s ease;
    
  }
  
  .accordian ul li:last-child .title {
    border-bottom: 0;
  }
  
  .accordian ul ul li a {
    display: block;
    background-color: #eee;
    padding: 1rem;
    color: #777;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  
  .accordian ul ul {
    display: none;
  }
  
  .open {
    transform: rotate(45deg);
    transition: all .25s ease;
  }
  
  .accordian ul ul li:last-child a {
    border-bottom: 0;
  }
  
  .fa {
    transition: all .25s ease;
    float: right;
  }
  
  .accordian h3 {
    cursor: pointer;
  }

  footer{
    background-color: white;
  }

.ft1 li{
    font-size: 14px;
    line-height: 30px;
    opacity: 0.7;
    transition-duration: 0.5s;
}

.ft1 li:hover{
    opacity: 1;
}

#input1{
    height: 45px;
    width: 100%;
    text-indent: 10px;
}

#coli i{
    transition-duration: 1s;
}

#coli:hover i{
    transform: rotateY(360deg);
}

.btn3{
    height: 50px;
    width: 130px;
    background-color: black;
    color: white;
    border: 0px;
    transition-duration: 0.5s;
    font-size: 14px;
}

.btn3:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}